*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    font-family: 'Coming Soon', cursive;
}

.container{
    margin: auto;
    margin-top: 10%;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 20px;
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
}

button{
    display: block;
    background-color: rgb(189, 53, 132);
    color: #fff;
    border: 1px solid rgb(189, 53, 132);
    padding: 8px 16px;
    margin: 5px;
    border-radius: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
}

/* button:hover{
    background-color:antiquewhite;
    color: #000;
} */
h4{
    text-align: center;
}
.questionNumber{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

#quiz{
    margin: 10px 0px;
}

.hide{
    display: none;
}
a{
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
}