*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.container{
    margin: auto;
    margin-top: 10%;
    width: 60%;
    height: auto;
    padding: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

button{
    display: block;
    background-color: rgb(189, 53, 132);
    color: #fff;
    border: 1px solid rgb(189, 53, 132);
    padding: 8px 16px;
    margin: 5px;
    border-radius: 10px;
}

button:hover{
    background-color:antiquewhite;
    color: #000;
}
h4{
    text-align: center;
}
.questionNumber{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

#quiz{
    margin: 10px 0px;
}

.hide{
    display: none;
}
